.treeViewContainer,.treeViewContainerFolder
{
    display         : flex;
    justify-content : space-between;
}

.treeViewVideo svg{
    fill: #ff4609
}

.treeViewContainerFolder{
    font-size: 1.2rem;
 }

.MuiTreeItem-iconContainer svg{
    fill:#ff9e00
}

.filderTime{
    color: #ff9e00;
}

li[tabindex="-1"] .treeViewContainer span
{
    color : #676767 !important;
}

li[tabindex="0"] .treeViewContainer span
{
    color : #3a3a3a !important;
}




.time
{
    margin-left : 50px !important;
    font-weight : 700 !important;
    color       : gray !important;
}
